@{
    var pageOption = new PagerOptions
    {
        NextPageText = "下一页 »",
        PrevPageText = "« 上一页",
        CssClass = "pager",
        ShowNumericPagerItems=false,
        ShowPrevNext=true,
        StatisticsTextFormatString="",
        ContainerTagName="ul",
        NavigationPagerItemWrapperFormatString = "<li>{0}</li>"
    };
}
@foreach (var item in ViewBag.Article)
{
    <div class="blog-post" @ViewHelper.EditItemAttributes(item)>
        <h2 class="blog-post-title">
            @Html.FrontHtml().PageLink(item.Title, "Articles/Detail", new { UserKey = item.UserKey })
        </h2>
        <p class="blog-post-meta">@item.UtcCreationDate.ToString("MMMM dd yyyy") by <a href="#">@item["UserName"]</a></p>
        <blockquote>
            @Html.Raw(item["Summary"])
        </blockquote>
    </div>
    <hr />
}
@Html.FrontHtml().Pager(ViewBag.Article, pageOption)