<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    @Html.FrontHtml().HtmlTitle()
    @Html.FrontHtml().Meta()
    @Html.FrontHtml().RenderView("Builtin.Header", ViewData)
</head>
<body>
    @Html.FrontHtml().RenderView("Common.Header", ViewData)
    @if (!Html.FrontHtml().IsEmptyPosition("Banner"))
    {
        @Html.FrontHtml().Position("Banner")
    }
    <div class="container">
        <div class="row">
            <div class="col-sm-8 blog-main">
                @Html.FrontHtml().Position("Main")
            </div><!-- /.blog-main -->
            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                @Html.FrontHtml().Position("Sidebar")
            </div><!-- /.blog-sidebar -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="blog-footer">
        @Html.FrontHtml().RenderView("Common.Footer", ViewData)
    </div>
    @Html.FrontHtml().RenderView("Builtin.Footer", ViewData)
</body>
</html>